# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Data
maas.db
data/

# Prompt
AGENTS.md
CLAUDE.md

# JetBrain
.idea

# temp
TEMP.md